@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.heading__1 {
  font-weight: 600;
  font-size: 54px;
}

.heading__2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
}

.heading__3 {
  font-weight: 600;
  font-size: 38px;
}

.heading__4 {
  font-weight: 500;
  font-size: 36px;
}

.heading__5 {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}

.heading__6 {
  font-weight: 500;
  font-size: 24px;
}

.body__1 {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.75;
}

.body__2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
}

.label__1 {
  font-weight: 500;
  font-size: 18px;
}

.label__2 {
  font-weight: 500;
  font-size: 16px;
}

.heading__project {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.cap__2 {
  font-weight: 500;
  font-size: 12px;
}


