$blueRoyal: #2405F2;
$blueDark: #282938;
$blueTint: #1C1E53;
$grey: #F4F6FC;
$yellow: #FCD980;
$yellowLight: rgba(252, 217, 128, 0.1);
$accent: #EEF4FA;
$background: #E5E5E5;
$purple: #5239FA;
$accent: #EEF4FA;
